{
  "presets": ["@babel/preset-env"],
  "plugins" : [
    ["@babel/transform-runtime",
      {
        "helpers": false,
        "regenerator": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}