{
  "presets": ["@babel/preset-env"],
  "plugins" : [
    ["@babel/transform-runtime",
      {
        "helpers": false,
        "regenerator": true
      }
    ]
  ],
  "sourceMaps": "inline",
  "retainLines": true
}