{
  "presets": ["@babel/preset-env"],
  "plugins" : [
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/transform-runtime",
      {
        "helpers": false,
        "regenerator": true
      }
    ]
  ]
}